nav.woocommerce-breadcrumb, .woocommerce-result-count {
    display: none;
}

.post-type-archive ul.products .post-359 {
    display: none;
}

.post-type-archive ul.products .product {
    width: 46% !important;
    margin: 0 3.8% 2.992em 0;
    box-sizing: border-box;
}